@charset "utf-8";

// 接受 1 到 4 个参数，从顶部开始，逆时针（习惯上喜欢设置 top 和 left 所以这里是逆时针）
@mixin position($type, $position...) {
  position: $type;
  @if length($position) == 1 {
    $position: (nth($position, 1), null, null, null);
  } @else if length($position) == 2 {
    $position: (nth($position, 1), nth($position, 2), null, null);
  } @else if length($position) == 3 {
    $position: (nth($position, 1), nth($position, 2), nth($position, 3), null);
  }
  @if nth($position, 1) != null {
    top: nth($position, 1);
  }
  @if nth($position, 2) != null {
    left: nth($position, 2);
  }
  @if nth($position, 3) != null {
    bottom: nth($position, 3);
  }
  @if nth($position, 4) != null {
    right: nth($position, 4);
  }
}
