@charset "utf-8";

.x-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;

  // 主轴方向
  &.x-m-l2r {
    flex-direction: row;
  }

  &.x-m-r2l {
    flex-direction: row-reverse;
  }

  &.x-m-t2b {
    flex-direction: column;
  }

  &.x-m-b2t {
    flex-direction: column-reverse;
  }

  // 容器行内内容块主轴方向上的空间分配
  &.x-m-start {
    justify-content: flex-start;
  }

  &.x-m-end {
    justify-content: flex-end;
  }

  &.x-m-center {
    justify-content: center;
  }

  &.x-m-around {
    justify-content: space-around;
  }

  &.x-m-between {
    justify-content: space-between;
  }

  &.x-m-evenly {
    justify-content: space-evenly;
  }

  &.x-m-avg {
    > * {
      width: 10px;
      flex: auto;
    }
  }

  // 多行容器以及交叉轴方向
  &.x-a-t2b {
    flex-wrap: wrap;
  }

  &.x-a-b2t {
    flex-wrap: wrap-reverse;
  }

  // 容器行内内容块交叉轴方向上的空间分配
  &.x-a-start {
    align-items: flex-start;
  }

  &.x-a-end {
    align-items: flex-end;
  }

  &.x-a-baseline {
    align-items: baseline;
  }

  &.x-a-stretch {
    align-items: stretch;
  }

  .x-s-start {
    align-self: flex-start;
  }

  .x-s-end {
    align-self: flex-end;
  }

  .x-s-center {
    align-self: center;
  }

  .x-s-baseline {
    align-self: baseline;
  }

  .x-s-stretch {
    align-self: stretch;
  }

  // 容器行空间分配
  &.x-r-start {
    align-content: flex-start;
  }

  &.x-r-end {
    align-content: flex-end;
  }

  &.x-r-center {
    align-content: center;
  }

  &.x-r-around {
    align-content: space-around;
  }

  &.x-r-between {
    align-content: space-between;
  }

  &.x-r-evenly {
    align-content: space-evenly;
  }

  &.x-r-stretch {
    align-content: stretch;
  }
}
